.container{
    padding-left: 30px;
    padding-right: 30px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}